
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Crypto Search</h3>
  </div>
  <div class="panel-body">


<%= form_tag home_lookup_path, :method => 'POST' do %>
    <%= text_field_tag 'sym', nil, placeholder: 'Type in Crypto Ticker/Symbol', size: 50, class: "form-control" %>
    <br/>
    <%= submit_tag 'Search for Ticker Quote', class: "btn btn-primary" %>
<% end %>

<br/><br/>


<% if @symbol %>
    <% for x in @lookup_coin %>
        <% if @symbol == x["symbol"] %>
            <%= x["name"] %>: $<%= x["price_usd"] %><br/>
            Rank: <%= x["rank"] %><br/><br/>
        <% end %>
    <% end %>
<% end %>
